
.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
  background-color: var(--background-color);
}

.Header h1 {
  font-size: 30px;
  margin-left: -450px;
}

.profile {
  position: absolute;
  right: 10px; /* Adjust this value as needed for spacing from the right edge */
  display: flex;
  align-items: center;
  background-color: var(--background-color);
}

.Header img {
  width: 45px;
  height: 45px;
  background-color: var(--background-color);
  margin-right: 10px; /* Adds some space between the image and button */
}

.Header button {
  border: none;
  height: 35px;
  font-size: 17px;
  width: 150px;
  border-radius: 20px;
  color: white;
  background-color: var(--secondary-btn-color);
}

.Header button:hover {
  background-color: var(--accent-color);
}

.AnalyticsCard {
  background-color: var(--secondary-btn-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  border-radius: 35px;
  width: 800px; /* Adjusted for responsiveness */
   /* Center it and ensure it's within the viewport */
  box-sizing: border-box; /* Ensure padding is included in width */
}

.AnalyticsItem, .AnalyticsItem h1, .AnalyticsItem p {
  background-color: var(--secondary-btn-color);
}

.AnalyticsItem {
  display: flex;
  margin: 35px 0; /* Margin adjusted for vertical alignment */
  flex-direction: column;
  align-items: center;
  text-align: center; /* Center-align the text */
}

.AnalyticsItem h1 {
  font-size: 50px;
  
  margin: 0;
}

.AnalyticsItem p {
  margin: 10px 0 0 0; /* Ensure p is directly below h1 with a small margin */
}

@media (max-width: 768px) {
  .Header {
    padding: 5px;
  }

  .Header h1 {
    font-size: 20px;
  }

  .Header img {
    width: 35px;
    height: 35px;
  }

  .Header button {
    height: 30px;
    font-size: 15px;
    width: 120px;
  }

  .AnalyticsCard {
    padding: 15px;
    margin: 20px auto; /* Centered */
  }

  .AnalyticsItem h1 {
    font-size: 40px;
  }

  .AnalyticsItem p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .Header {
    padding: 5px;
  }

  .Header h1 {
    font-size: 18px;
    margin-left: -200px;
    margin-bottom: 40px;
   
  }

  .Header img {
    width: 30px;
    height: 30px;
    display: none;
  }

  .Header button {
    
    height: 25px;
    font-size: 12px;
    width: 100px;
  }

  .AnalyticsCard {
    margin: 10px auto; /* Centered and within viewport */
    margin-left: -40px;
    padding: 10px;
    height: auto; /* Removed fixed height */
    width: 90vw; /* Use a percentage to ensure it fits within viewport */
    color: white;
    border-radius: 35px;
    justify-content: space-around;
    box-sizing: border-box; /* Ensure padding is included in width */
  }
 
  .AnalyticsItem h1 {
    font-size: 30px;
  }

  .AnalyticsItem p {
    font-size: 12px;
  }
}
