/* Analytics.css */

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--background-color);
}

.Header h1 {

  font-size: 2rem;
  margin: 0;
}

.profile {
  display: flex;
  align-items: center;
}

.Header img {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

.Header button {
  border: none;
  height: 40px;
  font-size: 1rem;
  width: 120px;
  border-radius: 20px;
  color: white;
  background-color: var(--secondary-btn-color);
  cursor: pointer;
}

.Header button:hover {
  background-color: var(--accent-color);
}

.AnalyticsCard {

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  color: white;
  border-radius: 20px;
  background-color: var(--secondary-btn-color);
  margin: 20px 0;
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.AnalyticsCard h1,.AnalyticsCard p{
  background-color: var(--secondary-btn-color);

}

.AnalyticsItem {
  background-color: var(--secondary-btn-color);
  text-align: center;
}

.AnalyticsItem h1 {
  font-size: 3rem;
  margin: 0;
}
.QuizCard{
  cursor: pointer;
}

.AnalyticsItem p {
  margin: 10px 0 0;
}

.IndividualResults {
  margin: 20px auto;
  padding: 20px;
  background-color: var(--accent-color);
  border-radius: 20px;

  max-height: 40%;
  overflow-y: scroll;
  
  box-sizing: border-box;
}

.IndividualResults h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
  background-color: var(--accent-color);
 
}

.QuizCardItem {

  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.QuizCardItem h1 {
  
  font-size: 1.4em;
  background-color: var(--background-color);
  margin: 0;
}

.delete-button {
  background-color: var(--secondary-btn-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: var(--danger-color);
}

/* Pagination styles */
.pagination-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination-item {
  margin: 0 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid var(--secondary-btn-color);
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--secondary-btn-color);
}

.pagination-item.active {
  font-weight: bold;
  background-color: var(--secondary-btn-color);
  color: white;
}

@media (max-width: 768px) {
  .Header h1 {
    font-size: 1.5rem;
  }

  .AnalyticsCard {
    flex-direction: column;
    padding: 10px;
  }

  .AnalyticsItem h1 {
    font-size: 2rem;
  }

  .AnalyticsItem p {
    font-size: 1rem;
  }

  .IndividualResults {
    padding: 10px;
  }

  .IndividualResults h1 {
    font-size: 1.25rem;
  }

  .QuizCardItem h1 {
    font-size: 0.875rem;
  }

  .delete-button {
    padding: 5px;
  }
}

@media (max-width: 480px) {
  .Header h1 {
    font-size: 1.25rem;
  }

  .AnalyticsItem h1 {
    font-size: 1.5rem;
  }

  .AnalyticsItem p {
    font-size: 0.875rem;
  }

  .QuizCardItem h1 {
    font-size: 0.75rem;
  }

  .delete-button {
    padding: 5px;
  }
}
