:root {
  --background-color: #1C4C67;
  --text-color: #D3EEFE;
  --primary-btn-color: #778BDD;
  --secondary-btn-color: #0C03A3;
  --accent-color: #631BFB;
}
*{
  background-color: var(--background-color);
  font-family: 'Inter', sans-serif;
}
