.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.NavLogo {
  align-self: flex-start;
}

.NavLogo img {
  width: 50%;
  align-self: center;
}

.NavItems {
  display: flex;
  align-items: center;
}

.NavItems a {
  color: var(--text-color);
  padding: 30px;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

.signinBtn {
  align-self: center;
  color: var(--text-color);
  background-color: var(--primary-btn-color);
  font-size: 20px;
  width: 180px;
  height: 50px;
  cursor: pointer;
  border-radius: 35px;
  box-shadow: none;
  border: none;
}
.NavCloseBtn {
  display: none;
}

.NavToggler {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

/* Mobile styles */
@media (max-width: 983px) {
  
  .NavLogo img {
    width: 90px;
    
  }
  .NavToggler {
    display: block;
  }

  .NavItems {
    display: none;
    flex-direction: column;
    width: 50%;
    position: fixed;
    top: 0;
    right: 0px;
    height: 100%;
    background-color: #81b5d3;
    align-items: top;
    align-self: flex-start;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
  }
  .NavItems a {
    background-color: #81b5d3;
  }
  .NavItems.open {
    display: flex;
    position: top;
    transform: translateX(0);
    background-color: #81b5d3;
  }

  .NavItems a {
    padding: 20px;
  }

  .signinBtn {
    margin: 10px 0;
  }

  .NavCloseBtn {
    display: block;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 25px;
  }
}
